<div class="welcome-page mt-3">
    <div class="row page-header">
        <div class="col-sm-10">
            <h2>
                Security Server
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <ul>
                <li>
                    This Security Server manages login integration with Azure AD. Use it if you have an application that wants to authenticate using the Azure AD. The server publishes a
                    <a href="~/.well-known/openid-configuration">discovery document</a>
                    where you can find metadata and links to all the endpoints, key material, etc.
                </li>
                <li>
                    The server is also a Secure Token Server generating JWT tokens for your client applications. In this regard you can:
                    <ul>
                        <li>Register client applications</li>
                        <li>Create roles</li>
                        <li>Perform roles based access control for your applications</li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

</div>
